@model MovieSite.Core.Model.MovieDetails

@{
    ViewData["Title"] = "Movie Site";
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="@Model.Poster" alt="poster" style="width: 100%" />
        </div>

        <div class="col-9">
            <p><strong>@Model.Title</strong> (@Model.Year)</p>
            <p><strong>Released: </strong>@Model.Released (@Model.Country)</p>
            <p><strong>Duration: </strong>@Model.Runtime</p>
            <p><strong>Genre: </strong>@Model.Genre</p>
            <p><strong>Director: </strong>@Model.Director</p>
            <p><strong>Writers: </strong>@Model.Writer</p>
            <p><strong>Actors: </strong>@Model.Actors</p>
            <p><strong>Awards: </strong>@Model.Awards</p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
                @Model.ImdbRating
            </p>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-12 ">
            <label>@Model.Plot</label>
        </div>
    </div>

    <form asp-controller="Order" asp-action="Order" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Order</button>
            </div>
            <input type="hidden" name="imdbID" value="@Model.ImdbId">
        </div>
    </form>
</div>


